body {
    background-color: #1a1a1a; 
    color: #fff; 
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 50px auto 20px; 
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.features {
    list-style-type: none;
    padding: 0;
}

.features li {
    margin-bottom: 10px;
    font-size: 0.75em;
}